# Allow non-root users to access NZXT Kraken devices. Adjust GROUP as needed.
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1e71", MODE="0660", GROUP="plugdev", TAG+="uaccess"
