[Unit]
Description=Apply saved Liquidctl fan curves
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/liquidgui --apply
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
