[Unit]
Description=Liquidctl fan curve daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/liquidgui --daemon

[Install]
WantedBy=multi-user.target
